<template>
    <v-footer color="primary" dark app>
      <span class="ml-1">Donna Ryan</span>
      <v-spacer></v-spacer>
      <span class="mr-1">&copy; {{ year }}</span>
    </v-footer>
</template>

<script>
export default {
  computed: {
    year: function () {
      const d = new Date
      return d.getFullYear()
    }
  }
}
</script>
