<template>
  <v-toolbar color="primary" dark fixed app clipped-right>
    <v-toolbar-title>Mooskat-Eyrs Bag of Holding</v-toolbar-title>
    <v-spacer></v-spacer>
    <v-toolbar-items>
      <v-subheader class='mt-2'>
        <span class="mr-1 platinum">{{total.pp.qty}} {{total.pp.name}}</span>
        <span class="mr-1 gold">{{total.gp.qty}} {{total.gp.name}}</span>
        <span class="mr-1 electrum">{{total.ep.qty}} {{total.ep.name}}</span>
        <span class="mr-1 silver">{{total.sp.qty}} {{total.sp.name}}</span>
        <span class="mr-1 copper">{{total.cp.qty}} {{total.cp.name}}</span>
      </v-subheader>
    </v-toolbar-items>
  </v-toolbar>
</template>

<script>
import { mapState, mapActions } from 'vuex'
export default {
  computed: mapState({
    total: state => state.ledger.totals
  }),
  methods: mapActions([

  ]),
  created () {
    this.$store.dispatch('ledger/fetchTotal')
  }
}
</script>