<template>
    <v-navigation-drawer fixed app permanent width="180">
      <v-list dense>
        <v-list-tile exact-active-class="primary--text" to="/" ripple >
          <v-list-tile-action>
            <font-awesome-icon :icon="['far', 'dungeon']" class="ma-auto" />
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>Home</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>

        <v-divider></v-divider>

        <v-list-tile exact-active-class="primary--text" to="ledger" ripple >
          <v-list-tile-action>
            <font-awesome-icon :icon="['far', 'scroll']" class="ma-auto" />
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>Ledger</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>

        <v-divider></v-divider>

        <v-list-tile exact-active-class="primary--text" to="items" ripple>
          <v-list-tile-action>
            <font-awesome-icon :icon="['far', 'treasure-chest']" color="primary" class="ma-auto" />
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>Items</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>

        <v-divider></v-divider>

        <v-list-tile exact-active-class="primary--text" to="logs" ripple>
          <v-list-tile-action>
            <font-awesome-icon :icon="['fas', 'dice-d6']" color="primary" class="ma-auto" />
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>Logs</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>

      </v-list>
    </v-navigation-drawer>
</template>

<script>

</script>
