<template>
  <v-container>
    <v-layout>
      <v-flex xs12>

        <v-toolbar flat dark color="primary">
          <v-toolbar-title>Item Entries</v-toolbar-title>
          <v-spacer></v-spacer>

          <v-dialog v-model="dialog" max-width="500">
            <v-btn slot="activator" color="success" dark class="mb-2">
              <font-awesome-icon :icon="['fas', 'ring']" class="mr-2" />
              New Item
            </v-btn>
            <v-card>
              <v-card-title>
                <span class="headline">{{ formTitle }}</span>
              </v-card-title>
              <v-card-text>
                <v-divider></v-divider>
                  <v-container grid-list-md>
                    <v-layout align-end>
                      <v-flex xs12 sm4>
                        <v-text-field v-model="editedItem.date" label="Date"></v-text-field>
                      </v-flex>
                      <v-flex xs12 sm4>
                        <v-text-field v-model="editedItem.worth" label="Worth"></v-text-field>
                      </v-flex>
                      <v-flex xs12 sm4>
                        <v-select
                          v-model="editedItem.coin"
                          :items="coinTypes"
                          attach hide-selected chips deletable-chips
                          label="Coin Type"
                        ></v-select>
                      </v-flex>
                    </v-layout>
                    <v-layout align-end>
                      <v-flex xs12 sm2>
                        <v-text-field v-model="editedItem.qty" label="Qty"></v-text-field>
                      </v-flex>
                      <v-flex xs12 sm10>
                        <v-text-field v-model="editedItem.name" label="Name"></v-text-field>
                      </v-flex>
                    </v-layout>
                    <v-layout align-end>
                      <v-flex xs12>
                        <v-text-field v-model="editedItem.location" label="Location"></v-text-field>
                      </v-flex>
                    </v-layout>
                  </v-container>
                <v-divider></v-divider>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="error darken-1" flat @click="close">Cancel</v-btn>
                <v-btn color="primary darken-1" flat @click="save">{{ formButton }}</v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>

        </v-toolbar>

        <v-data-table 
          :headers="headers" 
          :items="entries" 
          :loading="fetching"
          class="elevation-1"
        >
          <v-progress-linear slot="progress" color="secondary" indeterminate></v-progress-linear>
          <template slot="no-data">
            <v-alert :value="true" color="error" class="text-sm-center">
              <font-awesome-icon :icon="['far', 'axe-battle']" />
              Sorry, nothing to show yet. Maybe you should go kill some goblins.
              <font-awesome-icon :icon="['far', 'axe-battle']" />
            </v-alert>
          </template>
          <template slot="items" slot-scope="props">
            <td>{{ props.item.date }}</td>
            <td>{{ props.item.location }}</td>
            <td>{{ props.item.name }}</td>
            <td>{{ props.item.qty }}</td>
            <td>{{ props.item.worth }}</td>
            <td>{{ props.item.worth * props.item.qty }}</td>
            <td>{{ props.item.coin }}</td>
            <td class="align-center justify-center">
              <v-btn flat class="icon info--text"><font-awesome-icon :icon="['far', 'comment-alt-dollar']" @click="sellItem(props.item)" /></v-btn>
              <v-btn flat class="icon warning--text"><font-awesome-icon :icon="['far', 'bullseye-pointer']" @click="giveAway(props.item)" /></v-btn>
              <v-btn flat class="icon success--text"><font-awesome-icon :icon="['far', 'pencil-alt']" @click="editItem(props.item)" /></v-btn>
            </td>
          </template>
        </v-data-table>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
  export default {
    props: ['entries', 'fetching', 'coinTypes'],
    data() {
      return {
        // table headers
        headers: [
          { text: 'Date', value: 'date'},
          { text: 'Location', value: 'location'},
          { text: 'Name', value: 'name'},
          { text: 'Qty', value: 'Qty'},
          { text: 'Worth', value: 'Worth'},
          { text: 'Total', value: 'Total'},
          { text: 'Coin', value: 'Coin'},
          { text: '', value: ''},
        ],
        // pagination bits
        rowsPerPageItems: [20, 40, 60, 80, 100, {"text":"$vuetify.dataIterator.rowsPerPageAll","value":-1}],
        pagination: {
          rowsPerPage: 20
        },
        // new/edit dialog
        dialog: false,
        editedIndex: -1,
        editedItem: {
          date: new Date().toISOString().substr(0, 10),
          location: '',
          name: '',
          qty: '',
          worth: '',
          coin: ''
        },
        defaultItem: {
          date: new Date().toISOString().substr(0, 10),
          location: '',
          name: '',
          qty: '',
          worth: '',
          coin: ''
        },
        menu: false
      }
    },
    computed: {
      formTitle () {
        return this.editedIndex === -1 ? 'New Item' : 'Edit Item'
      },
      formButton () {
        return this.editedIndex === -1 ? 'Add Item' : 'Edit Item'
      }
    },
    watch: {
      dialog(val) {
        val || this.close()
      }
    },
    methods: {
      close() {
        this.dialog = false
        setTimeout(() => {
          this.editedItem = Object.assign({}, this.defaultItem)
          this.editedIndex = -1
        }, 1)
      },
      editItem (item) {
        this.editedItem = item
        this.editedIndex = this.entries.index
        this.dialog = true
      },
      updateItem (item) {
        this.$emit('itemEdit', item)
      },
      giveAway(item) {
        this.$emit('itemGiveaway', item)
      },
      sellItem(item) {
        this.$emit('itemSell', item)
      },
      save() {
        if (this.editedIndex === -1) {
          this.$emit('itemSave', this.editedItem)
        } else {
          this.updateItem(this.editedItem)
        }
        this.close()
      },
    }
  }
</script>
