<template>
    <v-container>
        <v-layout>
            <v-flex xs12>

                <v-toolbar flat dark color="primary">
                    <v-toolbar-title>Log Entries</v-toolbar-title>
                    <v-spacer></v-spacer>
                </v-toolbar>

                <v-list dense>
                    <v-list-tile
                        v-for="item in items"
                        :key="item.id"
                    >
                        <v-list-tile-content class="entriesDate">{{ item.timestamp }}</v-list-tile-content>
                        <v-list-tile-content class="text-xs-left"><span class="text-xs-left">{{ item.entry }}</span></v-list-tile-content>
                    </v-list-tile>
                </v-list>

            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
    export default {
        props: ['items']
    }
</script>

<style>
    .entriesDate { max-width: 150px; }
</style>