<template>
  <v-flex>
    <h1>Home</h1>
  </v-flex>
</template>

<script>
  // import HelloWorld from '../components/HelloWorld'

  export default {
    components: {
      // HelloWorld
    }
  }
</script>
