<template>
  <v-flex fill-height>
    <List 
      :fetching="fetching"
      :entries="itemEntries"
      :coinTypes="coinTypes"
      v-on:itemSave="addItemEntry"
      v-on:itemEdit="updateItemEntry"
      v-on:itemGiveaway="deleteItemEntry"
      v-on:itemSell="sellItemEntry"
    />
  </v-flex>
</template>

<script>
import { mapState, mapActions } from 'vuex'
  import List from '../components/itemElements/list.vue'

  export default {
    components: {
      List
    },
    computed: mapState({
      fetching: state => state.items.fetching,
      itemEntries: state => state.items.entries,
      coinTypes: state => state.internals.coinTypes
    }),
    methods: mapActions('items', [
      'addItemEntry',
      'updateItemEntry',
      'deleteItemEntry',
      'sellItemEntry'
    ]),
    created() {
      this.$store.dispatch('items/fetchEntries')
      this.$store.dispatch('internals/fetchCoinTypes')
    }
  }
</script>
