<template>
  <v-flex fill-height>
    <List 
      :entries="ledgerEntries" 
      :coinItems="coinTypes"
      :typeItems="ledgerTypes"
      v-on:itemSave="addEntry"
      v-on:itemDelete="deleteEntry"
    />
  </v-flex>
</template>

<script>
  import { mapState, mapActions } from 'vuex'
  import List from '../components/ledgerElements/list.vue'

  export default {
    components: {
      List
    },
    computed: mapState({
      ledgerEntries: state => state.ledger.entries,
      ledgerTypes: state => state.internals.ledgerTypes,
      coinTypes: state => state.internals.coinTypes
    }),
    methods: mapActions('ledger', [
      'addEntry',
      'deleteEntry'
    ]),
    created () {
      this.$store.dispatch('ledger/fetchEntries'),
      this.$store.dispatch('internals/fetchCoinTypes')
      this.$store.dispatch('internals/fetchLedgerTypes')
    }
  }
</script>
