<template>
    <v-flex fill-height>
      <List
        :items="logEntries"
      />
    </v-flex>
</template>

<script>
  import { mapState, mapActions } from 'vuex'
  import List from '../components/logElements/list.vue'

  export default {
    components: {
      List
    },
    computed: mapState({
      logEntries: state => state.internals.logEntries,
    }),
    methods: {

    },
    created() {
      this.$store.dispatch('internals/fetchLogEntries')

      console.log(this.logEntries)
    }
  }
</script>
