$color-pack = false
@import '~vuetify/src/stylus/main'

// platinum colors - https://www.color-hex.com/color-palette/58029 (not the green though)
// dark : #aaaaaa
// mid-dark: #bbbbbb
// mid: #cccccc
// mid-light: #dddddd
// light: #ffffff
// gold colors - https://www.color-hex.com/color-palette/13559
// dark : #c39e3a
// mid-dark: #d2b25b
// mid: #e1c782
// mid-light: #ead8a1
// light: #f0e5c4
// electrum colors - https://www.color-hex.com/color-palette/67982
// dark : #3a4858
// mid-dark: #757e8a
// mid: #b0b5bc
// mid-light: #ebecee
// light: #ffffff
// copper colors - https://www.color-hex.com/color-palette/1134
// dark : #39281c
// mid-dark: #97402a
// mid: #854421
// mid-light: #cfa072
// light: #e9d9c0


.v-toolbar__items .v-subheader .platinum {
  color: #dddddd;
}
.v-toolbar__items .v-subheader .gold {
  color: #ead8a1;
}
.v-toolbar__items .v-subheader .electrum {
  color: #ebecee;
}
.v-toolbar__items .v-subheader .silver {
  color: #ffffff;
}
.v-toolbar__items .v-subheader .copper {
  color: #e9d9c0;
}

.icon {
  padding: 0 4px;
  min-width: 10px;
  width: auto;
}