<template>
  <v-container>
    <v-layout>
      <v-flex xs12>

        <v-toolbar flat dark color="primary">
          <v-toolbar-title>Ledger Entries</v-toolbar-title>
          <v-spacer></v-spacer>
          <v-dialog v-model="dialog" max-width="500">
            <v-btn slot="activator" color="success" dark class="mb-2">
               <font-awesome-icon :icon="['fas', 'credit-card']" class="mr-2" />
              New Entry
            </v-btn>
            <v-card>
              <v-card-title>
                <span class="headline">{{ formTitle }}</span>
              </v-card-title>
              <v-card-text>
                <v-divider></v-divider>
                <v-container grid-list-md>
                  <v-layout align-end>
                    <v-flex xs12 sm6>
                      <v-text-field v-model="editedItem.date" label="Date"></v-text-field>
                    </v-flex>
                    <v-flex xs12 sm6>
                        <v-select 
                          v-model="editedItem.type" 
                          :items="itemTypes" 
                          attach chips
                          label="Type of Entry"
                        ></v-select>
                    </v-flex>
                  </v-layout>
                  <v-layout align-end>
                    <v-flex xs12 sm6>
                      <v-text-field v-model="editedItem.qty" label="Amount of Coin" />
                    </v-flex>
                    <v-flex xs12 sm6>
                      <v-select
                        v-model="editedItem.coin"
                        :items="coinItems"
                        attach chips
                        label="Coin Type"
                      ></v-select>
                    </v-flex>
                  </v-layout>
                  <v-layout>
                    <v-flex fluid>
                      <v-text-field v-model="editedItem.description" label="Description" />
                    </v-flex>
                  </v-layout>
                </v-container>
                <v-divider></v-divider>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="primary darken-1" flat @click="close">Cancel</v-btn>
                <v-btn color="primary darken-1" flat @click="save">Save</v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-toolbar>

        <v-data-table :headers="headers" :items="entries" class="elevation-1">
          <template slot="no-data">
            <v-alert :value="true" color="error" class="text-sm-center">
              <font-awesome-icon :icon="['far', 'axe-battle']" />
              Sorry, nothing to show yet. You should go earn some coin.
              <font-awesome-icon :icon="['far', 'axe-battle']" />
            </v-alert>
          </template>
          <template slot="items" slot-scope="props">
            <td>{{ props.item.description }}</td>
            <td class="text-xs-right">
              {{ props.item.date }}
            </td>
            <td class="text-xs-right">
              {{ props.item.type }}
            </td>
            <td class="text-xs-right">
              {{ props.item.qty }}
            </td>
            <td class="text-xs-right">
              {{ props.item.coin }}
            </td>
            <td class="align-center justify-center layout px-0">
              <v-btn flat class="success--text"><font-awesome-icon :icon="['far', 'pencil-alt']" @click="editItem(props.item)" /></v-btn>
              <v-btn flat class="error--text"><font-awesome-icon :icon="['fas', 'eraser']" @click="deleteItem(props.item)" /></v-btn>
            </td>
          </template>
        </v-data-table>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
  export default {
    props: ['entries', 'coinItems', 'typeItems'],
    data () {
      return {
        headers: [
          {
            text: 'Ledger Entries',
            align: 'left',
            sortable: false,
            value: 'name'
          },
          { text: 'Date', value: 'date' },
          { text: 'Type', value: 'type' },
          { text: 'Qty', value: 'qty' },
          { text: 'Coin', value: 'coin' },
          { text: '', value: ''}
        ],
        // new/edit dialog
        dialog: false,
        editedIndex: -1,
        editedItem: {
          description: '',
          date: new Date().toISOString().substr(0,10),
          type: '',
          qty: '',
          coin: ''
        },
        defaultItem: {
          description: '',
          date: new Date().toISOString().substr(0,10),
          type: '',
          qty: '',
          coin: ''
        },
        menu: false
      }
    },
    computed: {
      formTitle () {
        return this.editedIndex === -1 ? 'New Item' : 'Edit Item'
      },
      itemTypes () {
        let newTypes = Object.keys(this.typeItems).map(key => {
          return { value: key, text: this.typeItems[key].name, type: this.typeItems[key].type }
        })
        return newTypes
      }
    },
    watch: {
      dialog(val) {
        val || this.close()
      }
    },
    methods: {
      editItem (item) {
        this.$emit('itemEdit', item)
      },
      deleteItem (item) {
        this.$emit('itemDelete', item)
      },
      close() {
        this.dialog = false
        setTimeout(() => {
          this.editedItem == Object.assign({}, this.defaultItem)
          this.editedIndex = -1
        }, 5)
      },
      save() {
        if (this.editedIndex === -1) {
          this.$emit('itemSave', this.editedItem)
        } else {
          this.editItem(this.editedItem)
        }
        this.editedItem == Object.assign({}, this.defaultItem)
        this.editedIndex = -1
        this.close()
      }
    }
  }
</script>