<template>
  <v-app>
    <Header />
    <NavLeft />

    <v-content>
      <v-container fluid fill-height>
        <v-layout justify-center align-start>
         <router-view></router-view>
        </v-layout>
      </v-container>
    </v-content>

    <Footer />
  </v-app>
</template>

<script>
import Header from './components/pageElements/Header.vue'
import Footer from './components/pageElements/Footer.vue'
import NavLeft from './components/pageElements/NavLeft.vue'
export default {
  name: 'App',
  components: {
    Header,
    Footer,
    NavLeft
  },
  data: () => ({
    
  }),
  props: {
    source: String
  }
}
</script>
